
*{
    font-family: 'Raleway', sans-serif;
}

a {
    color:inherit;
    text-decoration: none;
}
.menu {
    float: right;
    display: flex;
    flex-flow: row;
    align-content: space-around;
}
.menu-item{
    padding: 2rem;
    font-weight: 500;
    text-align: center;
    transition-duration: 0.1s;
}
.menu-item:active {
    border-top: 2px solid #0065FC;
}
.menu a:active {
    color: #0065FC;
}
.menu a b {
    color: #0065FC;
}


h1 {

    font-weight:bold;
    font-size: 1.5rem;
}
h2{
    font-size: 1rem;
    font-weight: 300;
}

 .text-area {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5rem;
    box-sizing: border-box;
    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
 }
.bouton-rechercher {
    background-color: #0065FC ;
    padding: 1rem;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
}

.list-filtres {
    display: flex;
    align-content: left;
    flex-flow:wrap;
    margin: 1rem;
}
.list-filtres p {
    align-self: center;
}
.div-filtre {
    display: flex;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    align-items: center;
    margin-right:1rem;
    margin-left: 1rem;
    margin: 0.5rem;

    
}
.div-filtre :hover {
    
    background-color: #DEEBFF ;
}
.filter-text {
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
    
}
i {
    color: #527CF2 ;   
}
#marker-icon {
    color: black;
}
#icon-eco {
    display: flex;
}
#icon-family {
    display: flex;
}
#icon-heart {
    display: flex;
}
#icon-animal {
    display: flex;
}

.icon-filtre {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3.5rem;
    width: 3.5rem;
    min-height: 2.5rem;
    min-width: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.info {
    display: flex;
    flex-flow :row;
    align-items: center;
}
#info-icon {
    background-color: #DEEBFF;
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;    
    border-radius: 100%;
    display: flex;
    margin-right: 1rem;

}

.logements{
    display: flex;
    align-content: space-between;
}
.card {
    border-radius: 1.5rem;
    box-shadow: 5px 5px 5px 5px gray ;
    background-color:  white;
}


.hebergements{
    background-color: #F2F2F2;
    margin: 1.5rem;
    padding: 1.5rem;
    border-radius: 1.5rem;

}

.list-hebergements{
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 2rem;;
}

.hebergement-card {
    display: flex;
    flex-flow: column;
    padding: 5px;
}
.star-rating {
    display: flex;
    align-content: space-around;
}

.hebergement-card img {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    height: 8.5rem;
    object-fit: cover;
}

#popular-icon {
    color: black;

}

.list-populaires {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #F2F2F2;
    padding: 1.5rem;
}
.populaire-card {
    padding: 5px;
    display: flex;
    margin: 0.75rem;
    align-content: space-around;
  
}
.popular-content {
    display: flex;
    flex-direction: column;
}
.populaire-card img {
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    width: 10rem;
    height: 12rem;
    margin-right: 1rem;;
}
.footer-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-info{
    display: flex;
    flex-direction: column;
    
    margin: 2rem;
}
.footer-info a {
    margin:0.5rem 0.5rem 0.5rem 0rem;
    
}
